* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 


header {
	height: 100px;
    text-align: center;
    font-family: century gothic, sans-serif;
	background: #ffbd55;
	width: 100%;
	z-index: 10;
    position: fixed;
}
h1 {
    font-family: century gothic, sans-serif;
    text-align: center;
    font-color: #000000;
    font-size: 22px;
    }

#banner {
	width: 100%;
    text-align: bottom;
	height: 500px;
	position: static;
	top: 100px;
	background: url("/img/vinyl-record-player.jpg");
    background-size: cover;
}

#content {
	width: 100%;
    text-align: center;
	position: cover;
	top: 400px;
	background: #000000;
	height: 1500px; 
    font-family: arial, sans-serif;
    font-size: 22px;
    font-color: #FFFF7F;
}

header h1 {
    float:left;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 10px; /*TRouBLe*/
}

header nav {
    float: center;
    margin-top: 12px;
}

header a {
    color: #aaaaaa
    margin-right: 15px;
    text-decoration: none;
}

header a:link {
    COLOR: #ffbd55; 
    font-size: 20px
}
    

header a:visited {
    color: #e5e5e5;
}
header a:hover {
    color: #a1a188;
}   
header a:active {
    text-decoration: underline;
    text-align: center;
}
header a:focus {}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    text-align: center;
    font-size:  36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}

footer {
    font-size: 12px;
    padding: 0 10px 0 10px;
}